body {
  background-image: url("Sprinkles.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}


#myCanvas2 {
  background-image: url("https://specials-images.forbesimg.com/imageserve/65f8b8ca95922b7aaa395af8/Katamari-Damacy-introduction/960x0.jpg?fit=scale");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


